<UserScriptConfig>
	<Script basedir="ViewTube" checkRemoteUpdates="1" dependhash="9cb27ffe723d38c1b22d97e9ccecff0b0eaf8d67" description="Watch videos from video sharing websites without Flash Player." enabled="true" noframes="false" filename="viewtube.user.js" installTime="1420546634000" modified="1420546634000" name="ViewTube" namespace="http://isebaro.com/viewtube" runAt="document-end" updateMetaStatus="fail" uuid="35529951-c8e7-41c8-a3ed-77a99f054269" version="2015.01.02" installurl="http://isebaro.com/viewtube/include/files/viewtube.user.js" updateurl="http://isebaro.com/viewtube/include/files/viewtube.user.js" icon="large.png">
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_getValue</Grant>
		<Include>http://youtube.com*</Include>
		<Include>http://www.youtube.com*</Include>
		<Include>https://youtube.com*</Include>
		<Include>https://www.youtube.com*</Include>
		<Include>http://dailymotion.com*</Include>
		<Include>http://www.dailymotion.com*</Include>
		<Include>https://dailymotion.com*</Include>
		<Include>https://www.dailymotion.com*</Include>
		<Include>http://vimeo.com*</Include>
		<Include>http://www.vimeo.com*</Include>
		<Include>https://vimeo.com*</Include>
		<Include>https://www.vimeo.com*</Include>
		<Include>http://metacafe.com*</Include>
		<Include>http://www.metacafe.com*</Include>
		<Include>https://metacafe.com*</Include>
		<Include>https://www.metacafe.com*</Include>
		<Include>http://break.com*</Include>
		<Include>http://www.break.com*</Include>
		<Include>https://break.com*</Include>
		<Include>https://www.break.com*</Include>
		<Include>http://funnyordie.com*</Include>
		<Include>http://www.funnyordie.com*</Include>
		<Include>https://funnyordie.com*</Include>
		<Include>https://www.funnyordie.com*</Include>
		<Include>http://videojug.com*</Include>
		<Include>http://www.videojug.com*</Include>
		<Include>https://videojug.com*</Include>
		<Include>https://www.videojug.com*</Include>
		<Include>http://blip.tv*</Include>
		<Include>http://www.blip.tv*</Include>
		<Include>https://blip.tv*</Include>
		<Include>https://www.blip.tv*</Include>
		<Include>http://veoh.com*</Include>
		<Include>http://www.veoh.com*</Include>
		<Include>https://veoh.com*</Include>
		<Include>https://www.veoh.com*</Include>
		<Include>http://crackle.com*</Include>
		<Include>http://www.crackle.com*</Include>
		<Include>https://crackle.com*</Include>
		<Include>https://www.crackle.com*</Include>
		<Include>http://viki.com*</Include>
		<Include>http://www.viki.com*</Include>
		<Include>https://viki.com*</Include>
		<Include>https://www.viki.com*</Include>
		<Include>http://imdb.com*</Include>
		<Include>http://www.imdb.com*</Include>
		<Include>https://imdb.com*</Include>
		<Include>https://www.imdb.com*</Include>
		<Include>http://facebook.com*</Include>
		<Include>http://www.facebook.com*</Include>
		<Include>https://facebook.com*</Include>
		<Include>https://www.facebook.com*</Include>
		<Include>https://screen.yahoo.com*</Include>
	</Script>
	<Script basedir="ViewTube+" checkRemoteUpdates="1" dependhash="9cb27ffe723d38c1b22d97e9ccecff0b0eaf8d67" description="Watch videos from video sharing websites without Flash Player." enabled="true" noframes="false" filename="viewtubeplus.user.js" installTime="1420546640000" modified="1420546640000" name="ViewTube+" namespace="http://isebaro.com/viewtube" runAt="document-end" updateMetaStatus="fail" uuid="6b8667a9-7c63-495b-8a71-a9e958db25fb" version="2015.01.01" installurl="http://isebaro.com/viewtube/include/files/viewtubeplus.user.js" updateurl="http://isebaro.com/viewtube/include/files/viewtubeplus.user.js" icon="large.png">
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_getValue</Grant>
		<Include>http://*.rai.tv/*</Include>
		<Include>https://*.rai.tv/*</Include>
		<Include>http://video.repubblica.it/*</Include>
		<Include>https://video.repubblica.it/*</Include>
		<Include>http://canalplus.fr/*</Include>
		<Include>http://www.canalplus.fr/*</Include>
		<Include>https://canalplus.fr/*</Include>
		<Include>https://www.canalplus.fr/*</Include>
		<Include>http://wat.tv/*</Include>
		<Include>http://www.wat.tv/*</Include>
		<Include>https://wat.tv/*</Include>
		<Include>https://www.wat.tv/*</Include>
		<Include>http://videos.tf1.fr/*</Include>
		<Include>https://videos.tf1.fr/*</Include>
		<Include>http://ina.fr/*</Include>
		<Include>http://www.ina.fr/*</Include>
		<Include>https://ina.fr/*</Include>
		<Include>https://www.ina.fr/*</Include>
		<Include>http://nicovideo.jp/*</Include>
		<Include>http://www.nicovideo.jp/*</Include>
		<Include>https://nicovideo.jp/*</Include>
		<Include>https://www.nicovideo.jp/*</Include>
		<Include>http://buni.tv/*</Include>
		<Include>http://www.buni.tv/*</Include>
		<Include>https://buni.tv/*</Include>
		<Include>https://www.buni.tv/*</Include>
		<Include>http://v.youku.com/*</Include>
		<Include>https://v.youku.com/*</Include>
		<Include>http://*.iqiyi.com/*</Include>
		<Include>https://*.iqiyi.com/*</Include>
		<Include>http://jpopsuki.tv/*</Include>
		<Include>http://www.jpopsuki.tv/*</Include>
		<Include>https://jpopsuki.tv/*</Include>
		<Include>https://www.jpopsuki.tv/*</Include>
		<Include>http://vplay.ro/*</Include>
		<Include>http://www.vplay.ro/*</Include>
		<Include>https://vplay.ro/*</Include>
		<Include>https://www.vplay.ro/*</Include>
		<Include>http://vhd.ro/*</Include>
		<Include>http://www.vhd.ro/*</Include>
		<Include>https://vhd.ro/*</Include>
		<Include>https://www.vhd.ro/*</Include>
		<Include>http://trilulilu.ro/*</Include>
		<Include>http://www.trilulilu.ro/*</Include>
		<Include>https://trilulilu.ro/*</Include>
		<Include>https://www.trilulilu.ro/*</Include>
		<Include>http://adevarul.ro/*</Include>
		<Include>http://www.adevarul.ro/*</Include>
		<Include>https://adevarul.ro/*</Include>
		<Include>https://www.adevarul.ro/*</Include>
		<Include>http://veehd.com/*</Include>
		<Include>http://www.veehd.com/*</Include>
		<Include>https://veehd.com/*</Include>
		<Include>https://www.veehd.com/*</Include>
		<Include>http://svtplay.se/*</Include>
		<Include>http://www.svtplay.se/*</Include>
		<Include>https://svtplay.se/*</Include>
		<Include>https://www.svtplay.se/*</Include>
		<Include>http://tv.nrk.no/*</Include>
		<Include>https://tv.nrk.no/*</Include>
		<Include>http://euronews.com/*</Include>
		<Include>http://www.euronews.com/*</Include>
		<Include>https://euronews.com/*</Include>
		<Include>https://www.euronews.com/*</Include>
		<Include>http://*.ifeng.com/*</Include>
		<Include>https://*.ifeng.com/*</Include>
		<Include>http://56.com/*</Include>
		<Include>http://www.56.com/*</Include>
		<Include>https://56.com/*</Include>
		<Include>https://www.56.com/*</Include>
		<Include>http://telemadrid.es/*</Include>
		<Include>http://www.telemadrid.es/*</Include>
		<Include>https://telemadrid.es/*</Include>
		<Include>https://www.telemadrid.es/*</Include>
		<Include>http://vk.com/*</Include>
		<Include>http://www.vk.com/*</Include>
		<Include>https://vk.com/*</Include>
		<Include>https://www.vk.com/*</Include>
		<Include>http://twitch.tv/*</Include>
		<Include>http://www.twitch.tv/*</Include>
		<Include>https://twitch.tv/*</Include>
		<Include>https://www.twitch.tv/*</Include>
		<Include>http://justin.tv/*</Include>
		<Include>http://www.justin.tv/*</Include>
		<Include>https://justin.tv/*</Include>
		<Include>https://www.justin.tv/*</Include>
		<Include>http://redmediatv.ru/*</Include>
		<Include>http://www.redmediatv.ru/*</Include>
		<Include>https://redmediatv.ru/*</Include>
		<Include>https://www.redmediatv.ru/*</Include>
		<Include>http://*.rt.com/*</Include>
		<Include>https://*.rt.com/*</Include>
		<Include>http://rutube.ru/*</Include>
		<Include>http://www.rutube.ru/*</Include>
		<Include>https://rutube.ru/*</Include>
		<Include>https://www.rutube.ru/*</Include>
		<Include>http://now.ru/*</Include>
		<Include>http://www.now.ru/*</Include>
		<Include>https://now.ru/*</Include>
		<Include>https://www.now.ru/*</Include>
		<Include>http://videomore.ru/*</Include>
		<Include>https://www.videomore.ru/*</Include>
		<Include>http://videomore.ru/*</Include>
		<Include>https://www.videomore.ru/*</Include>
		<Include>http://alkislarlayasiyorum.com/*</Include>
		<Include>http://www.alkislarlayasiyorum.com/*</Include>
		<Include>https://alkislarlayasiyorum.com/*</Include>
		<Include>https://www.alkislarlayasiyorum.com/*</Include>
		<Include>http://hurriyet.com.tr/*</Include>
		<Include>http://www.hurriyet.com.tr/*</Include>
		<Include>https://hurriyet.com.tr/*</Include>
		<Include>https://www.hurriyet.com.tr/*</Include>
		<Include>http://vevo.com/*</Include>
		<Include>http://www.vevo.com/*</Include>
		<Include>https://vevo.com/*</Include>
		<Include>https://www.vevo.com/*</Include>
		<Include>http://tu.tv/*</Include>
		<Include>http://www.tu.tv/*</Include>
		<Include>https://tu.tv/*</Include>
		<Include>https://www.tu.tv/*</Include>
		<Include>http://watch.nba.com/*</Include>
		<Include>https://watch.nba.com/*</Include>
		<Include>http://wimp.com/*</Include>
		<Include>http://www.wimp.com/*</Include>
		<Include>https://wimp.com/*</Include>
		<Include>https://www.wimp.com/*</Include>
	</Script>
	<Script basedir="Youtube_-_Right_Side_Description" checkRemoteUpdates="1" dependhash="7ed3fcef6774cb728da92e40bd65436d47110de8" description="Moves the video description to the right of the video (like it used to be 2009 and earlier) and makes a few 2009ish style tweaks to the video page. (Previously known as Better Watch Page)" enabled="true" noframes="false" filename="Youtube_-_Right_Side_Description.user.js" installTime="1420546675000" modified="1420546675000" name="Youtube - Right Side Description" namespace="Takato" runAt="document-end" updateMetaStatus="ok" uuid="8f843299-628a-4d98-bd1b-2ca319f40dc9" version="2014.10.08" installurl="https://greasyfork.org/scripts/976-youtube-right-side-description/code/Youtube%20-%20Right%20Side%20Description.user.js" updateurl="https://greasyfork.org/scripts/976-youtube-right-side-description/code/Youtube%20-%20Right%20Side%20Description.user.js" icon="qlQhuaa.png">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_listValues</Grant>
		<Grant>GM_addStyle</Grant>
		<Include>http://www.youtube.com/watch*</Include>
		<Include>http://youtube.com/watch*</Include>
		<Include>https://www.youtube.com/watch*</Include>
		<Include>https://youtube.com/watch*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
</UserScriptConfig>